---
import {Picture} from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import FeatureCenter from '../components/features/FeatureCenter.astro'
import FeatureImageSide from '../components/features/FeatureImageSide.astro'

import VikunjaTaskOverview from '../assets/images/vikunja/01-task-overview.png'
import VikunjaFeatureTask from '../assets/images/vikunja/features/task.png'
import VikunjaFeatureList from '../assets/images/vikunja/features/list.png'
import VikunjaFeatureGantt from '../assets/images/vikunja/features/gantt.png'
import VikunjaFeatureKanban from '../assets/images/vikunja/features/kanban.png'
import VikunjaFeatureTable from '../assets/images/vikunja/features/table.png'
import FeatureSmall from '../components/features/FeatureSmall.astro'
import CloudOrSelfHosted from '../components/partials/CloudOrSelfHosted.astro'
import Plans from '../components/partials/Plans.astro'
---
<Layout title="Features" description="Discover Vikunja, the open-source task management tool with powerful features. Stay organized, collaborate, and customize your workflow with multiple views.">
    <main class="max-w-screen-xl mx-auto px-4 md:px-0 text-center">
        <div class="pt-32 pb-8 px-4">
            <h1 class="text-3xl font-display">
                Think of Vikunja like the notebook you have with all your things to keep track of.
            </h1>
            <h3 class="font-display text-xl mt-4">
                But with superpowers.
            </h3>
        </div>

        <div class="flex flex-col md:flex-row text-left mt-16 gap-4 mx-4">
            <div class="md:w-1/3">
                <h2 class="text-2xl font-display flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    Stay organized
                </h2>
                <p class="pt-4">
                    Organize all of your tasks in projects. Create subprojects organize everything hierarchical and keep
                    related stuff grouped together.
                </p>
            </div>
            <div class="md:w-1/3">
                <h2 class="text-2xl font-display flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
                    </svg>
                    Collaborate with peers
                </h2>
                <p class="pt-4">
                    Vikunja lets you easily share a project with another user or a whole team!
                    Assignments show who's working on what.
                </p>
            </div>
            <div class="md:w-1/3">
                <h2 class="text-2xl font-display flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"/>
                    </svg>
                    Use it how you need it
                </h2>
                <p class="pt-4">
                    You can view your tasks in the classic list view - or in a Gantt Chart, or Table view, or Kanban
                    Board.
                    Whatever you need!
                </p>
            </div>
        </div>

        <FeatureCenter heading="Open Source">
            Vikunja is openly licensed under the
            <a href="https://code.vikunja.io/api/src/branch/main/LICENSE" class="underline" target="_blank"
               rel="noopener">AGPLv3</a>.
            You can contribute in multiple ways, even if you're not a developer!
            It already helps a lot when you use Vikunja and report features you'd like or bugs you find.
            And if you are a developer and know your way around Go or Vue.js, any help is appreciated.
        </FeatureCenter>

        <div class="shadow-lg rounded mb-16">
            <Picture
                src={VikunjaTaskOverview}
                formats={['avif', 'webp']}
                class="object-contain object-top w-full"
                alt="Vikunja Task Overview"
            />
        </div>

        <FeatureCenter heading="Built for speed.">
            <svg slot="header-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
            </svg>
            We built Vikunja with speed in mind - every interaction takes less than 100ms.
            No more loading spinners.<br/>
            Because a productive tool should not get in your way.
        </FeatureCenter>

        <FeatureImageSide orientation="left" image={VikunjaFeatureTask} alt="The image shows a minimalist task management interface with a numbered header, breadcrumb navigation, description field, and an embedded colorful abstract image.">
            <h2 class="font-display text-2xl mt-4 md:mt-0 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"/>
                </svg>
                Tasks
            </h2>
            <p class="pt-4">
                Tasks are not only simple tasks. You can let Vikunja remind you of tasks when they're due. Never
                miss an important deadline again!
            </p>
            <p class="pt-4">
                Remember that thing you have to do every week but can't get the hang on? You can set tasks to
                repeat in a time interval, letting Vikunja remind you of important weekly or monthly tasks.
            </p>
            <p class="pt-4">
                Vikunja also lets you split a task in multiple subtasks for easy progress tracking and more
                satisfaction when crossing them off the list!
            </p>
        </FeatureImageSide>

        <FeatureCenter heading="Quick Add Magic">
            <svg slot="header-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 10V3L4 14h7v7l9-11h-7z"/>
            </svg>
            Add a task with a due date, labels, assignees and more without having to edit it afterwards?<br/>
            Vikunja's Quick Add Magic lets you do just that!
            Simply create a task mentioning a date, and it will add it as a due date.
            Or use one of the special keywords to automatically add labels, assignees and more.
        </FeatureCenter>

        <h2 class="font-display text-3xl text-left mt-32 mb-8 px-4">
            View your tasks in whatever way you like
        </h2>

        <p class="text-left mb-8 px-4">
            Vikunja allows you to view tasks in four different views - use whatever works best for you.
        </p>

        <FeatureImageSide image={VikunjaFeatureList} alt='A task management interface displaying an input field to add new tasks, followed by a list of sample tasks with checkboxes, due dates, assignments, labels, and a "Quick Add Magic" feature.'>
            <h2 class="font-display text-2xl flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16"/>
                </svg>
                List
            </h2>
            <p class="pt-4">
                The list view is similar to classic to-do list in a lot of ways.
                It shows you all tasks in a list underneath each other, enriched with all other task attributes Vikunja
                has
                to offer.
            </p>
        </FeatureImageSide>

        <FeatureImageSide orientation="left" image={VikunjaFeatureGantt} alt='Calendar view for July 2022 showing three blue task cards scheduled across different dates and a "Create a new task" button at the bottom.'>
            <h2 class="font-display text-2xl flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M 4.3383062,9.0000002 H 19.661694 m -15.3233878,0 a 3.0646776,2 0 0 1 -3.0646776,-2 v -2 a 3.0646776,2 0 0 1 3.0646776,-2 H 19.661694 a 3.0646776,2 0 0 1 3.064677,2 v 2 a 3.0646776,2 0 0 1 -3.064677,2 m -15.3233878,0 A 3.0646776,2 0 0 0 1.2736286,11 v 2 a 3.0646776,2 0 0 0 3.0646776,2 M 19.661694,9.0000002 A 3.0646776,2 0 0 1 22.726371,11 v 2 a 3.0646776,2 0 0 1 -3.064677,2 M 4.3383062,15 H 19.661694 M 4.3383062,15 a 3.0646776,2 0 0 0 -3.0646776,2 v 2 a 3.0646776,2 0 0 0 3.0646776,2 H 19.661694 a 3.0646776,2 0 0 0 3.064677,-2 v -2 a 3.0646776,2 0 0 0 -3.064677,-2"/>
                </svg>
                Gantt Chart
            </h2>
            <p class="pt-4">
                The Gantt Chart is perfect to get a timely overview of all tasks currently in-progress in a project.
                It allows for easy planning of deadlines and due dates.
            </p>
        </FeatureImageSide>

        <FeatureImageSide image={VikunjaFeatureKanban} alt='A Kanban-style task board showing two columns, "Backlog" and "Doing", with various numbered task cards containing descriptions, labels, and status indicators.'>
            <h2 class="font-display text-2xl flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2"/>
                </svg>
                Kanban board
            </h2>
            <p class="pt-4">
                Vikunja lets you organize and prioritize your tasks in a kanban board.
                Quickly get an overview of the status of things - especially when collaborating with multiple
                people on a project.
            </p>
            <p class="pt-4">
                Each card on a board represents a task in Vikunja.
                All tasks can be added through the usual ways and will then show up in the kanban board where
                they can be easily rearranged and reordered.
            </p>
        </FeatureImageSide>

        <FeatureImageSide orientation="left" image={VikunjaFeatureTable} alt="A task list interface showing numbered tasks with titles, completion status, and labels in a sortable table format.">
            <h2 class="font-display text-2xl flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-gray-500 dark:text-gray-400" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/>
                </svg>
                Table
            </h2>
            <p class="pt-4">
                With the table view, you can see all task details of all your tasks.
                And you can even change what task attributes should be visible!
            </p>
        </FeatureImageSide>

        <FeatureCenter heading="Import your tasks from Todoist, Trello or Microsoft To-Do">
            Because work does not happen in one tool only.
        </FeatureCenter>

        <div class="md:flex text-left mt-32 mb-4 gap-8">
            <div class="w-full md:w-1/3">
                <h2 class="font-display text-2xl mt-8 pl-8 text-right">Other Features</h2>
            </div>
            <div class="w-full md:w-1/4">
                <FeatureSmall title="Labels" icon="label">
                    Effortlessly mark tasks with a colorful label to find and group relevant tasks
                    with a click!
                </FeatureSmall>
                <FeatureSmall title="Saved Filters" icon="filter">
                    Create a filter with only the tasks you care about. Save it once, use it always.
                </FeatureSmall>
                <FeatureSmall title="Priorities" icon="priority">
                    Know that feeling when you have a dozen things to do but can't decide on what
                    to work next? Vikunja lets you quickly prioritize your tasks, so you'll always
                    know on what to work next.
                </FeatureSmall>
                <FeatureSmall title="Delegation" icon="delegation">
                    Assign tasks to other users or yourself so everyone always knows who is responsible for
                    which task.
                </FeatureSmall>
                <FeatureSmall title="Attachments" icon="attachment">
                    Attach files to tasks, so you can always have all related files for a task in one place!
                </FeatureSmall>
            </div>
            <div class="w-full md:w-1/4">
                <FeatureSmall title="Relations" icon="relation">
                    Relate different tasks together - even if they're not in the same project! A relation can be
                    multiple things, for example a subtask or blocking task.
                </FeatureSmall>
                <FeatureSmall title="Due dates" icon="date">
                    Remember these tasks with a deadline coming up? Set a due date for a task and see all tasks
                    with upcoming deadlines at once!
                </FeatureSmall>
                <FeatureSmall title="Share links" icon="share">
                    You can share a project with a link so that others can directly see or edit all tasks in a project
                    but don't need to create an account. Share links have all the same rights management as
                    sharing with users or teams.
                </FeatureSmall>
                <FeatureSmall title="CalDAV" icon="caldav">
                    Vikunja comes with a calDAV-integration which lets you use the tools you already use and
                    love.
                </FeatureSmall>
            </div>
        </div>

        <FeatureCenter heading="We will never look at your tasks.">
            We will never sell your grocery list or metadata.
            Because privacy matters.<br/>
            Don't take our word for it,
            <a href="https://code.vikunja.io" class="underline" target="_blank" rel="noopener">check it</a>!
            Vikunja is openly licensed under the AGPLv3.
        </FeatureCenter>

        <!-- TODO Roadmap -->

        <div class="py-20 flex items-center justify-center flex-col">
            <h2 class="font-display text-3xl mb-8">Get Started</h2>
            <CloudOrSelfHosted/>
        </div>

        <Plans/>
    </main>
</Layout>
