---
import {Picture} from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import LinkCard from '../components/LinkCard.astro'

import VikunjaTaskOverview from '../assets/images/vikunja/01-task-overview.png'
import VikunjaTaskList from '../assets/images/vikunja/02-task-list.png'
import VikunjaTaskGantt from '../assets/images/vikunja/03-task-gantt.png'
import VikunjaTaskTable from '../assets/images/vikunja/04-task-table.png'
import VikunjaTaskKanban from '../assets/images/vikunja/05-task-kanban.png'
import VikunjaTaskDetail from '../assets/images/vikunja/06-task-detail.png'
import VikunjaQuickAdd from '../assets/images/vikunja/07-quick-add.png'
import VikunjaTaskKanbanBackground from '../assets/images/vikunja/08-task-kanban-background.png'
import VikunjaTaskDetailDark from '../assets/images/vikunja/09-task-detail-dark.png'

import HeroLlama1 from '../assets/images/hero-llamas-small.jpg'
import HeroLlama2 from '../assets/images/hero-llamas-2-small.jpg'
import HeroLlama3 from '../assets/images/hero-llamas-3-small.jpg'
import CloudOrSelfHosted from '../components/partials/CloudOrSelfHosted.astro'

const carouselImages = [
	{src: VikunjaTaskOverview, alt: 'Overview dashboard showing recently viewed projects and current tasks with due dates and labels.'},
	{src: VikunjaTaskList, alt: 'Task management interface showing a list view with various task details and options.'},
	{src: VikunjaTaskGantt, alt: 'Gantt view of task management system displaying tasks across June and July 2023.'},
	{src: VikunjaTaskTable, alt: 'Table view of tasks with sortable columns for task details and status.'},
	{src: VikunjaTaskKanban, alt: 'Kanban board view of tasks organized into Backlog, Doing, and Done columns.'},
	{src: VikunjaTaskDetail, alt: 'Detailed task view with description, attached image of llamas, and task management options.'},
	{src: VikunjaQuickAdd, alt: 'Command search interface overlay for quick task and project management.'},
	{src: VikunjaTaskKanbanBackground, alt: 'Kanban board view of tasks overlaid on an aerial forest image background.'},
	{src: VikunjaTaskDetailDark, alt: 'Detailed task view in dark mode with description, attached image of llamas, and task management options.'},
]
---
<Layout title="The open-source, self-hostable to-do app">
    <main>
        <section
                class="flex min-h-screen w-full flex-col items-center justify-center pb-8 text-center text-gray-700 dark:text-gray-300 md:px-0">
            <div class="mt-10 lg:mt-40 mb-20 font-display">
                <h1 class="mb-4 text-5xl tracking-tight text-balance">
                    Plan your projects with the elegance<br/>
                    <span class="text-primary">of a sloth on a sunny day.</span>
                </h1>
                <h2 class="mx-auto max-w-2xl text-2xl text-balance">
                    Vikunja, the fluffy, open-source,
                    <a href="/docs/installing/" class="underline decoration-1 underline-offset-1">self-hostable</a>
                    to-do app.
                </h2>
                <p class="mt-4 text-xl">
                    Made and hosted in the EU.
                </p>
            </div>

            <CloudOrSelfHosted/>

            <div class="w-full max-w-6xl">
                <div class="slider aspect-w-16 aspect-h-9 relative mt-8">
					{carouselImages.map(({src, alt}) => (
                            <Picture
                                    src={src}
                                    formats={['avif', 'webp']}
                                    class=""
                                    alt={alt}
                            />
					))}
                </div>

                <div class="mt-36 mb-4 text-left md:flex px-4 md:px-6">
                    <div class="mt-4 md:mr-4 md:w-1/3">
                        <h2 class="flex items-center font-display text-2xl">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 h-6 w-6 text-gray-500 dark:text-gray-400"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                />
                            </svg>
                            Stay organized
                        </h2>
                        <p class="pt-4">
                            Organize all of your tasks in projects.
                            Create subprojects organize everything hierarchical and keep related stuff grouped together.
                        </p>
                    </div>
                    <div class="mt-4 md:mr-4 md:w-1/3">
                        <h2 class="flex items-center font-display text-2xl">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 h-6 w-6 text-gray-500 dark:text-gray-400"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                                />
                            </svg>
                            Collaborate with peers
                        </h2>
                        <p class="pt-4">
                            Vikunja lets you easily share a project with another user or
                            a whole team! You can also assign tasks to people so everybody knows
                            who's working on what.
                        </p>
                    </div>
                    <div class="mt-4 md:w-1/3">
                        <h2 class="flex items-center font-display text-2xl">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="mr-2 h-6 w-6 text-gray-500 dark:text-gray-400"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                                />
                            </svg>
                            Use it how you need it
                        </h2>
                        <p class="pt-4">
                            You can show your tasks in the classic list view - each task underneath
                            each other. Or you can use the Gantt view to get a time overview. Or
                            Table view to show all details you need. Or Kanban if you want that
                            birds-eye view of the status of all current tasks.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="w-full max-w-3xl mt-16 mb-24 px-4 mx-auto text-balance">
            <span class="text-4xl font-display">
                Getting more organized is hard
            </span>
            <blockquote class="mt-6 text-lg italic">
                I built Vikunja because there was no good Open-Source Tool to do what I wanted.
                Privacy is important. For me, you should be able to look at the code of a piece of software you use a lot.
                Especially if it is something like a to-do app you use daily.<br/>
                Vikunja Cloud is the best way for me to make sure the project can continue to live on and be
                self-sustainable.
                Being completely bootstrapped, the users of the software are the top priority and not some VC.
            </blockquote>
            <p class="mt-4">
                <strong>Konrad</strong><br/>
                <i>Founder of Vikunja</i>
            </p>
        </div>

        <section class="mx-auto mb-16 flex w-full max-w-6xl flex-col px-4 md:px-2 gap-4 text-left md:flex-row">
            <LinkCard
                    href="/docs/installing"
                    image={HeroLlama1}
            >
                Installation
            </LinkCard>
            <LinkCard
                    href="/features"
                    image={HeroLlama2}
            >
                Features
            </LinkCard>
            <LinkCard
                    href="https://vikunja.cloud/?utm_source=io&utm_medium=io&utm_campaign=menu"
                    image={HeroLlama3}
            >
                Get it Hosted
            </LinkCard>
        </section>

        <script>
			document.addEventListener('DOMContentLoaded', () => {
				const sliders = document.getElementsByClassName('slider')

				if (sliders) {
					for (const slider of sliders) {
						let current = 0
						const children = Array.from(slider.children)
						const sliderDuration = 5000

						const slide = () => {
							children.forEach((img, key) => {
								if (current !== key) {
									img.classList.remove('opacity-100')
									img.classList.add('opacity-0')
								} else {
									img.classList.add('opacity-100')
									img.classList.remove('opacity-0')
								}
							})

							current++
							if (current >= children.length) {
								current = 0
							}
						}

						// Loop through the images
						slide()
						setInterval(slide, sliderDuration)
					}
				}
			})
        </script>
    </main>
</Layout>

<style>
    .slider picture {
        @apply absolute left-0 top-0 right-0 w-full object-contain object-top shadow-lg transition-all duration-300 ease-in-out;
    }
</style>
